
<!DOCTYPE html>
<html>
  <head>
    <title>swiitsour</title>
    <meta name="mobile-web-app-capable" content="yes" />
    <meta name="description" content="cozy desk setup and gadget review" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui"
    />
    <meta name="robots" content="index, follow" />
    <meta name="p:domain_verify" content="1dd4121fedc7a9ea4adfd32279ffa4db" />
    <meta property="og:title" content="swiitsour" data-rh="true" />
    <meta property="og:site_name" content="swiitsour.com" />
    <meta
      property="og:description"
      content="cozy desk setup and gadget review"
    />
    <meta
      property="og:image"
      content="https://swiitsour.com/src/apple-touch-icon.png"
    />
    <base target="_self" />
    <link
      rel="apple-touch-icon"
      sizes="180x180"
      href="/src/apple-touch-icon.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="/src/favicon-32x32.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="/src/favicon-16x16.png"
    />
    <link rel="manifest" href="/src/site.webmanifest" />
    <link
      href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900"
      rel="stylesheet"
    />
    <link
      href="https://cdn.jsdelivr.net/npm/@mdi/font@5.x/css/materialdesignicons.min.css"
      rel="stylesheet"
    />
    <link
      href="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.min.css"
      rel="stylesheet"
    />
    <link
      href="https://use.fontawesome.com/releases/v6.4.2/css/all.css"
      rel="stylesheet"
    />
    <link href="/style.css" rel="stylesheet" />

    <script src="https://cdn.jsdelivr.net/npm/vue@2.7.14"></script>
    <script src="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vuetify@2.x/lib/util/colors.js"></script>
    <script src="./public.config.js"></script>

    <!-- Google tag (gtag.js) -->
    <script id="gtag-script" async></script>
    <script>
      document.title = PAGE_TITLE;
      document.getElementById('gtag-script').src =
        'https://www.googletagmanager.com/gtag/js?id=' +
        FIREBASE_MEASUREMENT_ID;
      window.dataLayer = window.dataLayer || [];
      function gtag() {
        dataLayer.push(arguments);
      }
      gtag('js', new Date());

      gtag('config', FIREBASE_MEASUREMENT_ID);
    </script>
  </head>

  <body>
    <div id="app">
      <v-app>
        <v-main>
          <!-- LOADING -->
          <v-dialog v-model="isLoading" persistent width="300">
            <v-card color="primary" dark>
              <v-card-text>
                &nbsp;
                <v-progress-linear
                  indeterminate
                  color="white"
                  class="mb-0"
                ></v-progress-linear>
              </v-card-text>
            </v-card>
          </v-dialog>

          <!-- DETAIL DIALOG -->
          <v-dialog v-model="isShowingDetail" width="80%">
            <v-card v-if="selectedItem != null">
              <v-img :src="selectedItem.imageUrl"></v-img>
              <v-btn
                class="dialog-close"
                icon
                color="white"
                @click="isShowingDetail = false"
              >
                <v-icon> mdi-close </v-icon>
              </v-btn>
              <v-card-title>{{selectedItem.title}}</v-card-title>
              <v-card-subtitle v-if="selectedItem.subtitle != ''"
                >{{selectedItem.subtitle}}
                <span v-if="selectedItem.storeUrl.includes('ebay')"
                  ><br />[eBay affiliate link]</span
                >
              </v-card-subtitle>

              <!-- DISCOUNT TEXTFIELD -->
              <div class="discount-code">
                <v-text-field
                  v-if="selectedItem.code != ''"
                  :label="'Discount ' + selectedItem.discount"
                  :value="selectedItem.code"
                  outlined
                  disabled
                >
                  <template #append>
                    <v-btn
                      class="copy"
                      width="80"
                      @click="copyCode(selectedItem)"
                      >{{copyButtonTitle}}</v-btn
                    >
                  </template>
                </v-text-field>

                <!-- SHOP BUTTON -->
                <v-btn large block @click="linkClicked(selectedItem)">
                  {{getShopButtonTitle(selectedItem)}}
                </v-btn>
              </div>
            </v-card>
          </v-dialog>

          <!-- HEADER -->
          <v-container v-if="!isLoading">
            <div class="header-bg">
              <div
                class="store"
                v-if="FIREBASE_MEASUREMENT_ID == 'G-1YW9SYZQHT'"
              >
                <v-btn small @click="toggleStore"
                  >{{ isTH ? 'TH' : 'GB'}}</v-btn
                >
              </div>
            </div>
            <div class="avatar"></div>
            <div class="bio">
              <h1>🪴 swiitsour</h1>
              <div>swiitsour@gmail.com</div>
              <div class="social">
                <v-btn
                  v-for="item in social"
                  active-class="primary"
                  :key="item.url"
                  text
                  small
                  fab
                  @click="socialClick(item)"
                  ><v-icon>{{item.icon}}</v-icon></v-btn
                >
              </div>
            </div>

            <!-- SEARCH -->
            <v-text-field
              outlined
              rounded
              label="Search"
              prepend-inner-icon="fa fa-search"
              :append-icon="searchInput == '' ? '' : 'fa-solid fa-xmark'"
              @click:append="clearSearch"
              v-model="searchInput"
              @input="onSearchChanged"
              @blur="onSearchBlur"
            >
            </v-text-field>

            <!-- CATEGORIES -->
            <v-chip-group active-class="primary" column>
              <v-chip
                v-for="cat in categories"
                :key="cat"
                :value="cat"
                @click="filterClick(cat)"
                >{{cat}}</v-chip
              >
            </v-chip-group>

            <!-- LIST -->
            <v-row dense class="link-list">
              <v-col
                v-for="item of displayItems"
                :key="item.title"
                cols="4"
                sm="3"
                align-self-stretch
              >
                <v-card @click="showDetail(item)">
                  <v-img :src="item.imageUrl">
                    <v-badge
                      v-if="item.discount !=''"
                      class="discount-badge"
                      color="#FF8080"
                      inline
                      :content="'-' + item.discount"
                    >
                    </v-badge>
                  </v-img>
                </v-card>
              </v-col>
            </v-row>
          </v-container>
        </v-main>
      </v-app>
    </div>

    <script src="./public.app.js"></script>
  </body>
</html>
